*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#2e8b57;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:#c8e6c9;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:20px;
}

button{
    background:#2e8b57;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
}

#destinos{
    padding:40px;
    text-align:center;
}

.card{
    background:white;
    width:250px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.contacto{
    background:#2e8b57;
    color:white;
    text-align:center;
    padding:50px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}
